# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
dist

# misc
.DS_Store
Thumbs.db
.env
.idea
npm-debug.log
compilation-stats.json

config/config.json
config/secrets.json
